---
import Resume from '../../components/About/Resume.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About me">
  <main class="flex items-center flex-col justify-center m-10 gap-10">
    <Resume />
  </main>
</Layout>
