---
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex items-center flex-col">
    <Hero />
    <Skills />
  </main>
</Layout>
