<footer>
  <div class="flex justify-center items-center w-full h-24">
    <h1 class="font-mono tracking-wide">
      <a href="#top"
        ><span class="text-yellow-500">Ihor</span>
        <span class="text-red-500">Andrianov</span>
      </a>
    </h1>
  </div>
</footer>
