<section class="flex justify-center items-center h-[100vh] w-2/3 flex-row">
  <article class="w-1/2">
    <h1 class="text-4xl font-extrabold mb-5 tracking-wide">
      Hello everybody, I'm Ihor.<br />
      Front-end
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
      >
        developer
      </span>
    </h1>
    <p class="text-xl">Welcome to my web dev journey!</p>
    <p>Follow my passion</p>
  </article>
  <div class="w-1/2">
    <img
      src="../../../public/images/man.jpeg"
      alt="man"
      width="400px"
      height="400px"
    />
  </div>
</section>
