---
import { HeroPicture } from './HeroPicture';
---

<section
  class="flex justify-center items-center xl:h-[90vh] xl:w-2/3 flex-col xl:flex-row relative mb-10 xl:mb-0"
>
  <article class="xl:w-1/2 mx-5 xl:mx-0">
    <h1 class="text-4xl font-extrabold mb-5 tracking-wide">
      Hello everybody,<br /> I'm Ihor.<br />
      Full-stack
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
      >
        developer
      </span>
    </h1>
    <p class="text-xl tracking-wide">Welcome to my web dev journey!</p>
  </article>
  <HeroPicture client:load />
</section>
