---
import { BadgeList } from './BadgeList';
import { SkillCard } from './SkillCard';
---

<section class="w-2/3">
  <article>
    <h1 class="text-4xl mb-5 font-extrabold tracking-wide">My skills</h1>
    <p class="w-1/2 trackin-wide">
      I'm always trying to improve and develop new skills. <br /> Through my journey
      i've taken a number of online courses such as
      <strong class="font-bold"
        >Mate academy Full-stack track, Front-end track on codecademy, React
        course</strong
      >
    </p>
  </article>
  <BadgeList client:load />
</section>
